<html>
<header>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/common.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
<title>{form.current_role.name} - HalfMore</title>
</header>
<body>
<div id="container" style="width:800px;">
	<div id="header">
		<table bgcolor="#00BFFF">
			<tr valign="bottom">
				<td width="100" valign="top" align="left">
					HalfMore
				</td>
				<td width="200" align="center">
					<input type="text" size="5" name="search">
					<input type="button" name="search" onclick="location.href='/search'" value="SEARCH" class="navibtn"/>
				</td>
				<td width="200" align="center">
					<font size="3">RoleName</font><input type="text" size="5" name="rolename">
				</td>
				<td width="200" align="center">
					<font size="3">RolePass</font><input type="password" size="5" name="rolepass">
				</td>
				<td width="100" align="center">
					<input type="button" name="login" onclick="location.href='/login'" value="LOGIN" class="navibtn"/>
				</td>
			</tr>
			<tr>
				<td colspan="5" align="left">
					<font size="5">{form.current_role.name}</font>
				</td>
			</tr>
			<tr>
				<td colspan="5" height="20">
				</td>
			</tr>
		</table>
	</div>
	<div id="navi">
		<table>
			<tr>
				<td width="200" align="center">
					<a href="/mine" id="mine">mine</a>
				</td>
				<td width="200" align="center">
					<a href="/group" id="group">group</a>
				</td>
				<td width="200" align="center">
					<a href="/tool" id="tool">tool</a>
				</td>
				<td width="200" align="center">
				</td>
			</tr>
		</table>
	</div>
	<div id="main">
		<div id="left">
			<div><font size="10">LEFT</font></div>
		</div>
		<div id="right">
			<div><font size="10">RIGHT</font></div>
		</div>
	</div>
</div>
</body>
</html>