<html>
<header>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript">
var role_list = {{ session['role_list']|safe }};	
var error = {{ error|safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
<script type="text/javascript">
$(function(){
	setFrame();

	loadNavi();

	loadMessage();

	setProfile();

	setRoleList();

	setPost();
});

$(window).resize(function() {
	setFrame();
});
</script>

<link rel="stylesheet" type="text/css" href="../static/css/common.css">
<style type="text/css">
</style>
</header>
<body>
<form name="frm_enter" action="/login"></form>
<form name="frm_exit" action="/logout"></form>
<form name="frm_create" action="/create"></form>
<div id="div_bg">
  <div id="div_navi"></div>
  <div id="div_profile"></div>
  <div id="div_rolelist"></div>
  <div id="div_main"></div>
  <div id="div_right">right</div>
</div>
<div id="div_message"></div>
<div id="div_close" onclick="clickClose()"></div>
<div id="div_grey"></div>
<div id="div_create"></div>
</body>
</html>