#grey{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: Grey;
	opacity: 0.5;
	display: none;
	z-index: 8;
}
#bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00FF00;
	z-index: 1;
}
#navi{
	position: fixed;
	top: 0px;
	width: 1000px;
	height: 30px;
	background-color: #0000FF;
	text-align: right;
	z-index: 10;
}
#message{
	position: fixed;
	top: 30px;
	width: 1000px;
	height: 50px;
	background-color: pink;
	text-align: left;
	z-index: 10;
	display: none;
}
#close{
	position: fixed;
	top: 30px;
	width: 50px;
	height: 50px;
	background-color: #550000;
	text-align: left;
	z-index: 11;
	display: none;
}
#create{
	position: fixed;
	top: 30px;
	width: 1000px;
	height: 400px;
	background-color: #FFFFFF;
	display: none;
	z-index: 9;
}
#profile{
	position: fixed;
	top: 30px;
	width: 200px;
	height: 350px;
	background-color: #00FFFF;
	z-index: 2;
}
#rolelist{
	position: fixed;
	top: 380px;
	width: 200px;
	height: 50px;
	background-color: #007777;
	z-index: 2;
}
#main{
	position: absolute;
	top: 30px;
	width: 600px;
	height: 100%;
	z-index: 2;
}
#right{
	position: fixed;
	top: 30px;
	width: 200px;
	height: 500px;
	background-color: #FFFF00;
	z-index: 2;
}
div.role{
	width: 200px;
	height: 30px;
	background-color: #007700;
}
div.post{
	position: relative;
	width: 500px;
	background-color: rgba(255,255,255,100);
	margin : 5px;
}
table{
	border-style: none;
}
table.role{
	width: 100%;
	height: 100%;
}
tr.role{
	width: 100%;
	height: 100%;
}
td.role1{
	width: 170px;
	height: 100%;
}
td.role2{
	width: 30px;
	height: 100%;
}
table.user_menu{
	width: 30px;
	height: 30px;
}
tr.user_menu{
	height: 10px;
}
td.user_menu{
	width: 10px;
	height: 10px;
}
